<html>
<head>
    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<script src="controller.js"></script> 

<link rel="stylesheet" type="text/css" href="style_columns.css">
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>

 <script src="angular-chart.js"></script>
  <script src="angular-chart.min.js"></script>
    
<title>Team Haggis Meets Watson Meets Twist</title>
<!-- Graph Things -->

</head>

<body>
    <div ng-app="textMachine" ng-controller="textMachineController"> 
        <div class='wrap'>
            
            <!-- ****** LEFT - NAVIGATION ******** -->
            <div class='left'>
                <br /><br />
                <h1><center>Team Haggis</center></h1>
                
                <br /><br /><br /><br /><br /><br /><br />
                <button id="nav_button" ng-click=addEntry()>Add Entry</button>
                <br /><br />
                <button id="nav_button" ng-click=removeAll()>Remove All Entries</button>
                <br /><br />
                <button id="nav_button" ng-click=undo()>Undo</button>
                <br />
                <br />
                <br />
                <br />
                
                <br />
                    <button id="analyse" ng-click=callApi()><h1>Analyse</h1></button>
                
            </div>
            <!-- ****** RIGHT - STATS ******** -->
            <div class='right'>  
              
                <br />
               <div id="stats_container">
                   <div id="message_box">
                        
                        <canvas id="radar" class="chart chart-radar"
  chart-data="data" chart-options="options" chart-labels="labels">
</canvas> 
                       <br /><br />

                       <br /><br />
                       things
                       <br /><br />
                       {{ response }}
                       
                   </div>
                    <br />
                    <div id='message_box'>
                        <h1>*Insert Totes Emosh Message Here*</h1>
                        
                    </div>
                </div>
            </div>
            
            <!-- ****** CENTRE - TEXT ENTRIES ******** -->
            <div class='center'>
                <div ng-repeat="entry in entries">
                    <div id="text_box">
                    <textarea rows="8"  style="font-size: 120%" class="text_area">{{entry}} </textarea>
                    <br />
                </div>          
                    <br />
            </div>
            
        </div>
    </div>
    
</body>    
    
    

</head>



</html>

