@import url(https://fonts.googleapis.com/css?family=Karla);

html,body{ 
    height:100%
}

.wrap {
    width:100%;
    height:100%;
    position:relative; 
}

.bodywrap { 
    margin-top:100px;
 }
 
.left {
    width:18%;
    top: 0px; 
    bottom: 0px;
    position: fixed;
    background-color: cadetblue;
    padding: 0px 20px 20px 20px;
    left: 0;
}


#analyse {
    position: fixed;
    bottom: 20px;
    width: 18%;
    background-color: #e6f2ff;
    border-radius: 5px;
    padding: 5px;
}

#analyse:hover {
    background-color: white;
}
.right {
    width:31%;
    top: 0px; 
    bottom: 0px;
    position: fixed;
    background-color: cadetblue;
    padding: 0px 20px 20px 20px;
    right: 0px;
}

.left,.center,.right,.bodywrap {
    height:100%
}

.center {
    margin:0px 21%;
    width:44%;
    background-color: white; 
}


body {
    font-family: 'Karla';
    font-size: 16px;
    background-color: white;
}

.nav_button {
    width: 100%;
    padding: 15px;
    background-color: #e6f2ff;
    border: 1px solid azure;
    border-radius: 5px;
    font-size: 120%;
}

.nav_button:hover {
    background-color: white;
}


#text_box textarea{
    
    padding: 15px;
    border-radius: 5px;
    background-color: #e6f2ff;
    border: 1px 1px 1px 1px #1a75ff;
     border: 0 none;
    outline: 0 none;
    padding: 20px;
    width: 100%;
    
    font-family : "Karla", regular;
}

 


#nav_button {
    
}
 
#message_box {
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    background-color: white;
    padding: 20px;    
}
 
#message_box2 {
    width: 100%;
    border-radius: 5px;
    background-color: white;
    padding: 20px;    
}

#stats_container {
    position:fixed;
    width: 28%;   
    border-radius: 5px;
    20px;
}

#right_image {
    width: 100%;
    height: 300px;
    background-color: rgba(0,0,255,0.5);
}



.myProgress {
  width: 95%;
  background-color: #ddd;
}

.myBar {

  height: 20px;
   
border-radius: 5px;
  background-color: #4CAF50;
}

.barCell {
text-align: left;
    background-color: papayawhip;

        border-radius: 5px;

}

.barTable {
    width: 100%;
    line-height: 1;   
    
  
}

.title {
    width: 30%;

}






.preload{
	width: 100%;
	height: 100%;
	background: #333;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.load_img{
	border:16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #1a75ff;
	margin: 20% auto;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}
@keyframes spin{
	0%{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}
